.main-menu {
    padding: 20px;
    width: 400px;
    top: 10%;
    left: 50%;
    box-sizing: border-box;
    margin: 0 auto;
}

.main-menu__item {
    display: block;
    padding: 5px;
    color: #FFF;
    font-size: 22px;
    background: rgba(0,0,0,.4);
    border: 1px solid #000;
    margin: 20px 0;
    text-decoration: none;
}